{% extends 'base.html' %}

{% block title %}Add Audio{% endblock %}

{% block content %}
<style>
    .notification {
  position: fixed;
  top: 20px;
  right: 120px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  z-index: 9999;
  display: none; /* Скрываем уведомление по умолчанию */
}

.notification.success {
  background-color: #4CAF50;
  color: #fff;
}

.notification.error {
  background-color: #f44336;
  color: #fff;
}

</style>
    <div class="row">
        <div class="col-md-8 mx-auto">

        <div class="card shadow">
                <div class="card-body">
                <h5 class="card-text text-center font-italic">Add Audio</h5>
                    <form id="upload-form"  method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Default file input example</label>
                            <input class="form-control" name="audio_file" type="file" id="formFile">
                        </div>

                        <input class="btn btn-info mt-3" type="submit" value="Add">

                    </form>
                    <div id="notification"></div>
                </div>
            </div>
        </div>

        {% if record_all %}
        <div class="col-md-8 mx-auto py-5">
        <div class="card shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th colspan="6">
                                <h5 class="font-italic text-center">AudioFiles</h5>
                            </th>
                        </tr>
                        <tr class="table-primary">
                            <th>FileName</th>
                            <th>User</th>
                            <th>Download</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        {% for audio in record_all %}
                            <tr>
                                <td>{{ audio.name_file }}</td>
                                <td>{{ audio.user }}</td>
                                <td>
                                    <button onclick="download_audio('{{ audio.name_file }}')"
                                            class="btn btn-outline-info btn-sm" type="button">Download</button>
                                    <a href="#" id="downloadLink" style="display: none;"></a>
                                </td>
                                <td>
                                    <button onclick="delete_audio('{{ audio.name_file }}')"
                                            class="btn btn-outline-danger btn-sm" type="button">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

  <script>
      document.getElementById('upload-form').addEventListener('submit', function(event) {
          event.preventDefault(); // Предотвращаем отправку формы по умолчанию
          // Получаем данные формы

          const formData = new FormData(event.target);

          // Отправляем данные формы на сервер через Axios

          sendData(formData);
      });

      // Функция для отправки аудио на сервер через Axios
      function sendData(formData) {
          axios.post('add_audio', formData)
              .then(function(response) {
                  if (response.status === 200) {
                      // Обработка успешного ответа от сервера
                      showNotification('Форма успешно отправлена!', 'success');
                      document.getElementById('upload-form').reset(); // Сброс формы после успешной отправки
                  }
                  }).catch(function(error) {
                      // Обработка ошибки ответа от сервера
                  showNotification('Audio with this title already exists', 'error');

                  });
      }
      // Функция для отображения уведомления
      function showNotification(message, type) {
          const notification = document.getElementById('notification');
          notification.textContent = message;
          notification.className = 'notification ' + type;
          notification.style.display = 'block';

          // Удаляем уведомление через 3 секунды
          setTimeout(function() {
              notification.textContent = '';
              notification.className = 'notification';
              }, 3000);

      }
      // функция для закрузки файла
      function download_audio(filename) {
          axios.get('record',
              {responseType: 'blob', params: {filename: filename}}
          ).then(function (response) {
              if (response.status === 200) {
                  console.log(response)
                  const blob = new Blob([response.data], {type: 'audio/mpeg'});
                  const url = window.URL.createObjectURL(blob);
                  const downloadLink = document.getElementById('downloadLink');
                  downloadLink.href = url;
                  downloadLink.download = filename;
                  document.body.appendChild(downloadLink);
                  downloadLink.click();
                  document.body.removeChild(downloadLink);
                  window.URL.revokeObjectURL(url);
              }
          }).catch(function (err) {
              showNotification('Audio with given name does not exist', 'error');
          });
      }

      // функция для удаления файла
      function delete_audio(filename) {
          axios.delete('delete', {params: {filename: filename}}).then(
              function (response) {
                  if (response.status === 200) {
                      showNotification('Audio file successfully deleted with database', 'success');
                  } else {
                      showNotification('Error deleted audio file', 'error');
                  }
              });
      }

  </script>
{% endblock %}